# App Configuration
ENV=local
NODE_ENV=development

# Server Configuration
HOST=0.0.0.0
PORT=3000

# MongoDB Configuration
MONGO_URL=mongodb://user:password@localhost:27018
DB_NAME=orders

# RabbitMQ Configuration
RABBITMQ_URL=amqp://user:password@localhost:5672