# App Configuration
ENV=local
NODE_ENV=development

# Server Configuration
PORT=3000
HOST=0.0.0.0

# MongoDB Configuration
MONGO_URL=mongodb://user:password@localhost:27018
DB_NAME=invoices

# Bucket Configuration
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=minio
S3_SECRET_ACCESS_KEY=minio123
INVOICE_BUCKET_NAME=orders
S3_URL_TTL_SEC_DEFAULT=300

# RabbitMQ Configuration
RABBITMQ_URL=amqp://user:password@localhost:5672
RABBIT_PREFETCH=50

